div {
    text-align: center;
    overflow: hidden;
    border: 5px solid black;
    width: 500px;
    background: rgb(174, 0, 255);
}

img {
    width: 400px
}

h1 {
    font-family: impact;
    font-size: 50pt;
    margin: 10px;
    text-decoration: underline;
}